<ons-page ng-controller="CallListController" ons-show="listShow()" ons-hide="listHide()">
	<ons-toolbar>
		<div class='center'>{{callListTitle}}</div>
	</ons-toolbar>
	<ons-modal var="applyCall">
			<ons-progress-circular indeterminate></ons-progress-circular>
	</ons-modal>
	<ons-list>
		<ons-list-item ng-repeat="(idx, value) in enableList" ng-click="callToFriend(idx)">
			<div class='left'>
				<img class='list__item__thumbnail' src="image/users/a.jpg">
			</div>
			<div class='right'>
				<span class='list__item__subtitle'>{{value.friendName}}</span>
			</div>
		</ons-list-item>
	</ons-list>
</ons-page>