<ons-page>
	<ons-toolbar>
		<div class="center">
			대화목록
		</div>
	</ons-toolbar>
	<div class="navigation-bar">
      <div class="navigation-bar__center">
        <ons-input ng-model='idSearchField' type="search" class="search-input custom" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search"></ons-input>
      </div>
    </div>
	<ons-list>
		<ons-list-item modifier="longdivider" tappable >
			<div class="left">
				<ons-icon icon="fa-comment"></ons-icon>
			</div>
			<div class="center">
				<span class="list__item__title">Hello</span>
				<span class="list__item__subtitle">myFriend!</span>
			</div>
		</ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
		<ons-list-item modifier="longdivider"></ons-list-item>
	</ons-list>
	<ons-fab position="bottom right" ng-click="newChatting()">
		<ons-icon icon="fa-comments"></ons-icon>
	</ons-fab>
</ons-page>