<ons-page ng-controller="TransController" ons-show='initController()' ons-hide="destroyController()">
	<ons-toolbar>
		<div class='left'>
			<ons-back-button></ons-back-button>
		</div>
		<div class='center'>
			파일 전송
		</div>
	</ons-toolbar>
	<div ng-if="isSender == true">
		<input type='file' id='selectFile' style='display:none;'>
		<ons-button ng-if="show==false" modifier='large' ng-click="loadFile()">불러오기</ons-button>
		<ons-button ng-if='show==true' modifier='large' disabled="{{fileSend}}" ng-click="sendFile()">보내기</ons-button>
		<ons-list>
			<ons-list-item>
				<div class='left'>
					<span class='list__item__subtitle'>파일명</span>
				</div>
				<div class='center'>
					<span class='list__item__title'>{{fileHeader.name}}</span>
				</div>
			</ons-list-item>
			<ons-list-item>
				<div class='left'>
					<span class='list__item__subtitle'>파일 크기</span>
				</div>
				<div class='center'>
					<span class='list__item__title'>{{crrSize}} / {{fileHeader.size}} ({{(crrSize/fileHeader.size)*100}} %)</span>
				</div>
			</ons-list-item>
			<ons-progress-bar value="{{(crrSize/fileHeader.size)*100}}"></ons-progress-bar>
		</ons-list>
	</div>
	<div ng-if="isSender == false">
		<ons-list>
			<ons-list-item>
				<div class='left'>
					<span class='list__item__subtitle'>파일명</span>
				</div>
				<div class='center'>
					<span class='list__item__title'>{{fileHeader.name}}</span>
				</div>
			</ons-list-item>
			<ons-list-item>
				<div class='left'>
					<span class='list__item__subtitle'>파일 크기</span>
				</div>
				<div class='center'>
					<span class='list__item__title'>{{crrSize}} / {{fileHeader.size}} ({{(crrSize/fileHeader.size)*100}} %)</span>
				</div>
			</ons-list-item>
			<ons-progress-bar value="{{(crrSize/fileHeader.size)*100}}"></ons-progress-bar>
		</ons-list>
	</div>
</ons-page>