<ons-page>
	<ons-toolbar>
		<div class="center">
			{{userProfile.userName}}
		</div>
		<div class="right">
			<ons-button modifier="quiet">
				<ons-icon icon="md-plus"></ons-icon> 
			</ons-button>
		</div>
	</ons-toolbar>
<!-- 	<div class="navigation-bar">
      <div class="navigation-bar__center">
        <ons-input ng-model='idSearchField' type="search" class="search-input custom" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search"></ons-input>
      </div>
    </div> -->
	<ons-list>
		<ons-list-item ng-repeat="(idx, value) in friendList" modifier="longdivider" tappable >
			<div class="left">
				<img src="image/users/a.jpg" class="list__item__thumbnail">
			</div>
			<div class="center">
				<span class="list__item__title">{{value.memName}}</span>
				<!-- <span class="list__item__subtitle">인생은 넘나 힘든것</span> -->
			</div>
		</ons-list-item>
	</ons-list>
	<ons-speed-dial position="bottom right" direction="up">
		<ons-fab>
			<ons-icon icon="fa-plus"></ons-icon>
		</ons-fab>
		<ons-speed-dial-item ng-click="searchUserView()">
			<ons-icon icon="fa-search-plus"></ons-icon>
		</ons-speed-dial-item>
		<ons-speed-dial-item ng-click="viewRequestFriend()">
			<ons-icon icon="fa-user-plus"></ons-icon>
		</ons-speed-dial-item>
	</ons-speed-dial>
</ons-page>