<!DOCTYPE HTML>
<html ng-app="magpie_front">
	<head>
		<meta charset="utf-8">
		<title>Magpie Messanger</title>
		<link rel='stylesheet' href='css/onsenui.css'> 
		<link rel='stylesheet' href='css/onsen-css-components-blue-basic-theme.css'> 
		<script src='js/angular.min.js'></script>
		<script src='js/onsenui.min.js'></script>
		<script src='js/angular-onsenui.min.js'></script>
		<script src='js/main.js'></script>
		<style>
			html{
				width : 550px;
				height : 700px;
				overflow-y : hidden;
				/*height : 100%;*/
			}
			/*body{
				
			}*/
			#mainLogo{
				width:170px;
			}
			#mainLogoSection{
				margin-top: 100px;
				margin-bottom: 50px;
				text-align: center;
			}
			#loginBtnSection{
				padding : 0 10px;
			}
			.loginInput{
				width : 250px;
			}
			.messageInput{
				padding : 0px 5px;
			}
			.messageInput ons-input{
				width : 100%;
			}
			.message{
				background-color: inherit !important;
			}
			.search-input.custom{
				padding-top: 0px;
			}
			.search-input.custom .text-input{
				padding : 0px 4px;
			}
		</style>

	</head>
	<body ng-controller="AppController">
		<ons-navigator var="pageManager" page='loginPage.html' ></ons-navigator>
		<!-- Start Login Page -->
		<ons-template id='loginPage.html'>
			<ons-page>
				<section id='mainLogoSection'>
					<img id='mainLogo' src='image/magpie_main.png'>
				</section>
				<section style="text-align : center;">
					<p>
						<ons-input class="loginInput" modifier="underbar" placeholder="Email" ></ons-input>
					</p>
					<p>
						<ons-input class="loginInput" modifier="underbar" type="password" placeholder="Password" ></ons-input>
					</p>
					<p><ons-button modifier="quiet" ng-click="pageManager.pushPage('accountPage.html')">계정이 없으신가요?</ons-button></p>
					<p id='loginBtnSection'><ons-button modifier="large" ng-click="pageManager.pushPage('mainPage.html')">로그인</ons-button></p>
				</section>
			</ons-page>
		</ons-template>
		<!-- End Login Page -->

		<!-- Start Account Page -->
		<ons-template id="accountPage.html">
			<style>
				.account_input{
					width : 100%;
				}
			</style>
			<ons-page>
				<ons-toolbar>
					<div class="left">
						<ons-back-button>취소</ons-back-button>
					</div>
					<div class="center">회원가입</div>
				</ons-toolbar>
				<ons-list>
					<ons-list-header>기본 인적사항</ons-list-header>
					<ons-list-item modifier="longdivider">
						<ons-input modifier="underbar" class="account_input" placeholder="User Name"></ons-input>
					</ons-list-item>
					<ons-list-item modifier="longdivider">
						<ons-input modifier="underbar" class="account_input" placeholder="010-XXXX-XXXX"></ons-input>
					</ons-list-item>
					<ons-list-header>계정정보 입력</ons-list-header>
					<ons-list-item modifier="longdivider">
						<ons-input modifier="underbar" class="account_input" type="email" placeholder="abcd@example.com"></ons-input>
					</ons-list-item>
					<ons-list-item modifier="longdivider">
						<ons-input modifier="underbar" class="account_input" type="password" placeholder="Password"></ons-input>
					</ons-list-item>
					<ons-list-item modifier="longdivider">
						<ons-input modifier="underbar" class="account_input" type="password" placeholder="Re Password"></ons-input>
					</ons-list-item>
				</ons-list>
				<p></p>
				<ons-button modifier="large">가입하기</ons-button>
			</ons-page>
		</ons-template>
		<!-- End Account Page -->

		<!-- Start Main Page -->
		<!-- Default : Side MenuBar -->
		<ons-template id="mainPage.html">
			<ons-splitter var="sideMenu">
				<ons-splitter-side side="left" width="60px">
					<ons-page>
						<ons-list>
							<ons-list-item modifier="longdivider" ng-click="selectMenu('home')">
								<ons-icon size="30px"icon="fa-home"></ons-icon>
							</ons-list-item>
							<ons-list-item modifier="longdivider" ng-click="selectMenu('ChatingList')">
								<ons-icon size="30px" icon="fa-comment"></ons-icon>
							</ons-list-item>
							<ons-list-item modifier="longdivider" ng-click="selectMenu('home')">
								<ons-icon size="30px" icon="fa-video-camera"></ons-icon>
							</ons-list-item>
						</ons-list>
					</ons-page>
					
				</ons-splitter-side>

				<ons-splitter-content page="home"></ons-splitter-content>
			</ons-splitter>
		</ons-template>
		<!-- Page : Home -->
		<ons-template id="home">
			<ons-page>
				<ons-toolbar>
					<div class="center">
						홍길동
					</div>
					<div class="right">
						<ons-button modifier="quiet">
							<ons-icon icon="md-plus"></ons-icon> 
						</ons-button>
					</div>
				</ons-toolbar>
				<div class="navigation-bar">
		          <div class="navigation-bar__center">
		            <ons-input ng-model='idSearchField' type="search" class="search-input custom" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search"></ons-input>
		          </div>
		        </div>
				<ons-list>
					<ons-list-item modifier="longdivider" tappable >
						<div class="left">
							<img src="image/users/a.jpg" class="list__item__thumbnail">
						</div>
						<div class="center">
							<span class="list__item__title">김철수</span>
							<span class="list__item__subtitle">인생은 넘나 힘든것</span>
						</div>
					</ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
				</ons-list>
				<ons-fab position="bottom right" ng-click="pageManager.pushPage('AddFriend.html', {data: {title: Friends}})">
					<ons-icon icon="fa-user-plus" ></ons-icon>
				</ons-fab>
			</ons-page>
		</ons-template>
		<!-- Page Chatting List -->
		<ons-template id="ChatingList">
			<ons-page>
				<ons-toolbar>
					<div class="center">
						대화목록
					</div>
				</ons-toolbar>
				<div class="navigation-bar">
		          <div class="navigation-bar__center">
		            <ons-input ng-model='idSearchField' type="search" class="search-input custom" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search"></ons-input>
		          </div>
		        </div>
				<ons-list>
					<ons-list-item modifier="longdivider" tappable ng-click="pageManager.pushPage('chattingRoom.html')">
						<div class="left">
							<ons-icon icon="fa-comment"></ons-icon>
						</div>
						<div class="center">
							<span class="list__item__title">Hello</span>
							<span class="list__item__subtitle">myFriend!</span>
						</div>
					</ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
					<ons-list-item modifier="longdivider"></ons-list-item>
				</ons-list>
				<ons-fab position="bottom right">
					<ons-icon icon="fa-comments"></ons-icon>
				</ons-fab>
			</ons-page>
		</ons-template>
		<!-- Page : Chatting -->
		<ons-template id="chattingRoom.html">
			<ons-page>
				<ons-toolbar>
					<div class="left">
						<ons-back-button>뒤로</ons-back-button>
					</div>
					<div class="center">
						채팅
					</div>
					<div class="right">
						<ons-button modifier="quiet">
							<ons-icon icon="md-plus"></ons-icon> 
						</ons-button>
					</div>
				</ons-toolbar>
				<ons-bottom-toolbar>
					<div class="center">
						<ons-row>
							<ons-col class="messageInput" vertical-align="center">
								<ons-input modifier="underbar" type="search" placeholder="메시지를 입력하세요..."></ons-input>
							</ons-col>
							<ons-col width="75px" class="messageInput" vertical-align="center">
								<ons-button>보내기</ons-button>
							</ons-col>
						</ons-row>
					</div>
					<div class="right">
					</div>
				</ons-bottom-toolbar>
				<ons-list>
					<ons-list-item class="message me" modifier="nodivider">
						Hello!
					</ons-list-item>
					<ons-list-item class="message other" modifier="nodivider">
						World!
					</ons-list-item>
					<ons-list-item modifier="nodivider"></ons-list-item>
					<ons-list-item modifier="nodivider"></ons-list-item>
					<ons-list-item modifier="nodivider"></ons-list-item>
					<ons-list-item modifier="nodivider"></ons-list-item>

					
				</ons-list>
			</ons-page>
		</ons-template>





	</body>
</html>